<!-- Course result -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">

    <a class="govuk-link govuk-!-font-size-24" href="#">
      <span class="app-search-result__provider-name">
        Provider Name
      </span>
      <span class="app-search-result__course-name">
        Course Name (Course Code)
      </span>
    </a>

    <div class="app-white-line-course-summary"></div>

    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action app-filter-label app-summary-card-action">
<button class="unstyled-button results-save-course-button__unstyled-button" data-action="click-&gt;save-course#toggle">
      <div class="save-course-button__button govuk-!-margin-0 govuk-!-padding-top-2">
        <img alt="Save" width="24" height="24" class="govuk-!-margin-right-2 govuk-!-padding-top-0" data-save-course-target="icon" src="/assets/images/icon-save.svg">

        <span class="govuk-body" data-save-course-target="text">
          Save this course for later
        </span>
      </div>
    </button>      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list app-filter-label">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nearest placement school
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fee or salary
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course length
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age group
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification awarded
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Degree required
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Visa sponsorship
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
    </dl>
  </div>
</div>
<!-- END Course result -->