<!-- Course result -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">

    <a class="govuk-link govuk-!-font-size-24" href="/course/1ZW/C246?distance_from_location=1&amp;location=Sutton+SM2+6AY%2C+UK">
      <span class="app-search-result__provider-name">
        Provider Name
      </span>
      <span class="app-search-result__course-name">
        Course Name (Course Code)
      </span>
    </a>

    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action app-filter-label app-summary-card-action">
        <a class="govuk-link" href="#">Save this course for later</span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list app-filter-label">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nearest placement school
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Funding type
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course length
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age group
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification awarded
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Degree required
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Visa sponsorship
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
    </dl>

    <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why train with Provider Name
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">Sutton SCITT comprises of over 25 high-performing, local, yet diverse primary and secondary schools, all have high expectations of students and view training and development of staff as key to future success. Sutton and Merton schools are consistently some of the most successful schools in London. Our school-led, school-based and school-focused training means you will be recruited by schools, based in schools and trained within our partnership of schools. .All our tutors are experienced school leaders who still work as teachers. Consequently, our programme is rooted in the reality of the classroom as well as the educational theory and literature.</p>
    <p class="govuk-body">The SCITT has extremely high standards and aspirations for all of its trainees and as a result employment, completion and attainment of trainees is very high.</p>
    <p class="govuk-body">In June 2021 the SCITT was inspected by Ofsted for a second time and again was judged to be ‘outstanding’ in all areas; quality of education and training, leadership and overall . The inspection report praised how well prepared trainees were for their ECT years, their training and the support trainees received from colleagues in the SCITT.</p>
  </div>
</details>

  </div>
</div>
<!-- END Course result -->