<!-- Course result -->
<div class="govuk-summary-card govuk-summary-list--no-border">
  <div class="govuk-summary-card__title-wrapper">

    <a class="govuk-link govuk-!-font-size-24" href="#">
      <span class="app-search-result__provider-name">
        Subject at Provider name (CODE)
      </span>
    </a>
  </div>
  <div class="govuk-summary-card__content app-summary-card__content">
    <dl class="govuk-summary-list app-filter-label">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course detail
        </dt>
        <dd class="govuk-summary-list__value">
          Info about the course
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course detail
        </dt>
        <dd class="govuk-summary-list__value">
          Info about the course
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course detail
        </dt>
        <dd class="govuk-summary-list__value">
          Info about the course
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course detail
        </dt>
        <dd class="govuk-summary-list__value">
          Info about the course
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course detail
        </dt>
        <dd class="govuk-summary-list__value">
          Info about the course
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course detail
        </dt>
        <dd class="govuk-summary-list__value">
          Info about the course
        </dd>
      </div>
    </dl>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <button class="unstyled-button results-save-course-button__unstyled-button" data-action="click->save-course#toggle" data-save-course-target="button" data-state="unsaved" aria-label="Save this course">
        <span class="save-course-button__icon" data-save-course-target="icon"></span>
        <span class="save-course-button__text govuk-body govuk-link govuk-!-margin-bottom-0" data-save-course-target="text">Save this course for later</span>
      </button>
  </div>
</div>
<!-- END Course result -->

<!-- Course result
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">

    <a class="govuk-link govuk-!-font-size-24" href="#">
      <span class="app-search-result__provider-name">
        Provider name
      </span>
      <span class="app-search-result__course-name">
        Subject (Code)
      </span>
    </a>

    <div class="app-white-line-course-summary"></div>

    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action app-filter-label app-summary-card-action">
        <button class="unstyled-button results-save-course-button__unstyled-button" data-action="click->save-course#toggle" data-save-course-target="button" data-state="unsaved" aria-label="Save this course">
          <span class="save-course-button__icon" data-save-course-target="icon"></span>
          <span class="save-course-button__text govuk-body govuk-link govuk-!-margin-bottom-0" data-save-course-target="text">Save this course for later</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list app-filter-label">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nearest placement school
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fee or salary
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course length
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age group
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification awarded
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Degree required
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Visa sponsorship
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
    </dl>
  </div>
</div>
END Course result -->
