<div class="app-c-filter-panel__header">
    <button id="filter-button-fceecc4f" class="app-c-filter-panel__button govuk-link" aria-expanded="false" aria-controls="filter-panel-fceecc4f" data-ga4-expandable="" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;finder&quot;,&quot;section&quot;:&quot;Filter and sort&quot;,&quot;text&quot;:&quot;Filter and sort&quot;,&quot;index_section&quot;:0,&quot;index_section_count&quot;:4}">
        <span class="app-c-filter-panel__button-inner">Filter and sort</span>
    </button>
    <p class="govuk-hint app-results-indicator">100 results</p>
</div>
