<div class="app-c-filter-panel__header">
    <button id="filter-toggle" class="app-c-filter-panel__button govuk-link" type="button" aria-expanded="false" aria-controls="filter-panel" data-filter-toggle data-expanded-label="Hide filters" data-collapsed-label="Show filters" data-ga4-expandable="" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;finder&quot;,&quot;section&quot;:&quot;Filter and sort&quot;,&quot;text&quot;:&quot;Filter and sort&quot;,&quot;index_section&quot;:0,&quot;index_section_count&quot;:4}">
        <span class="app-c-filter-panel__button-inner">Filter and sort</span>
    </button>
    <p class="govuk-hint app-results-indicator">231 results</p>
</div>
