<h2 class="govuk-body app-filter-heading" style="padding-top:20px;">Filter courses</h2>

  {% include "_includes/active-filters.html" %}

  {% include "_includes/filter-control.html" %}

  {% include "_includes/filters/primary.html" %}

  {% include "_includes/filters/secondary.html" %}

  {% include "_includes/filters/further-education.html" %}

  {% include "_includes/filters/send.html" %}

  {% include "_includes/filters/training-provider.html" %}

  {% include "_includes/filters/fee-or-salary.html" %}

  {% include "_includes/filters/full-time-part-time.html" %}

  {% include "_includes/filters/qualification.html" %}

  {% include "_includes/filters/degree-grade.html" %}

  {% include "_includes/filters/visa-sponsorship.html" %}

  {% include "_includes/filters/online-interviews.html" %}

  {% include "_includes/filters/start-date.html" %}

  {% include "_includes/filters/search-radius.html" %}

  {% include "_includes/filters/sort-by.html" %}

  {% include "_includes/filter-action.html" %}