<h2 class="govuk-body app-filter-heading">Find courses</h2>
<div class="govuk-form-group">
    <label class="govuk-label app-filter-label" for="search-by-subject">
        <strong>Subject</strong>
    </label>
    <input class="govuk-input" id="search-by-subject" name="subject-search" type="text">
</div>

<div class="govuk-form-group">
    <label class="govuk-label app-filter-label" for="search-by-location">
        <strong>City, town or postcode</strong>
    </label>
    <input class="govuk-input" id="search-by-location" name="location-search" type="text">
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
    Search
</button>

<div class="app-white-line"></div>

