<h2 class="govuk-body app-filter-heading app-filter-heading--search">Find courses</h2>
<div class="govuk-form-group app-search-field">
    <label class="govuk-label app-filter-label" for="search-by-subject">
        <strong>Subject</strong>
    </label>
    <input class="govuk-input" id="search-by-subject" name="subject-search" type="text">
</div>

<div class="govuk-form-group app-search-field">
    <label class="govuk-label app-filter-label" for="search-by-location">
        <strong>City, town or postcode</strong>
    </label>
    <input class="govuk-input" id="search-by-location" name="location-search" type="text">
</div>

<div class="app-search-submit">
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Search
    </button>
</div>

<div class="app-white-line"></div>

