<details class="app-c-filter-section">
    <summary class="app-c-filter-section__summary">
        <h2 class="app-c-filter-section__summary-heading app-filtering-heading-light">
            <span class="govuk-visually-hidden">Filter by</span>
            Degree grade
            <span class="app-c-filter-section__count" hidden></span>
        </h2>
    </summary>
<div class="app-c-filter-section__content">
    <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Degree grade</legend>
        <div class="app-filter-hint">
        <span class ="govuk-hint govuk-!-font-size-16">Select your grade (or expected grade)</span>
        </div>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="degree-grade" name="degree-grade" type="radio" value="month">
            <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade">
            2:1 or First
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="degree-grade-2" name="degree-grade" type="radio" value="year">
            <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade-2">
            2:2
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="degree-grade-3" name="degree-grade" type="radio" value="year">
            <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade-3">
            Third
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="degree-grade-4" name="degree-grade" type="radio" value="year">
            <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade-4">
            Pass
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="degree-grade-5" name="degree-grade" type="radio" value="year">
            <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade-5">
            No degree
            </label>
        </div>
        <div class="govuk-radios__divider app-filter-label">or</div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="degree-grade-6" name="degree-grade" type="radio" value="year">
            <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade-6">
            Show all courses
            </label>
        </div>
        </div>
    </fieldset>
    </div>
</div>
</details>
