<details class="app-c-filter-section">
    <summary class="app-c-filter-section__summary">
        <h2 class="app-c-filter-section__summary-heading app-filtering-heading-light">
            <span class="govuk-visually-hidden">Filter by</span>
            Fee or salary
        </h2>
        <br>
        <span class="app-c-filter-section__count govuk-hint" hidden></span>
    </summary>
    <div class="app-c-filter-section__content">
        <div class="gem-c-radios govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">                       <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="fee" name="fee-or-salary" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label app-filter-label" for="fee">
                    Fee - no salary
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="fee-2" name="fee-or-salary" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label app-filter-label" for="fee-2">
                    Salary
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="fee-3" name="fee-or-salary" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label app-filter-label" for="fee-3">
                    Teaching apprenticeship with salary
                </label>
                </div>
            </div>
        </fieldset>
        </div>
    </div>
</details>
