<details class="app-c-filter-section">
<summary class="app-c-filter-section__summary">
    <h2 class="app-c-filter-section__summary-heading app-filtering-heading-light">
        <span class="govuk-visually-hidden">Filter by</span>
    Full time or part time
    </h2>
</summary>
<div class="app-c-filter-section__content">
    <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Study type</legend>
        <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            <input type="checkbox" name="filter-study-type" id="filter-study" class="govuk-checkboxes__input">
            <label for="filter-study" class="govuk-label govuk-checkboxes__label app-filter-label">Full time (12 months)</label>
        </div>
        <div class="govuk-checkboxes__item">
            <input type="checkbox" name="filter-study-type" id="filter-study-2" class="govuk-checkboxes__input">
            <label for="filter-study-2" class="govuk-label govuk-checkboxes__label app-filter-label">Part time (18 to 24 months)</label>
        </div>
        </div>
    </fieldset>
    </div>
</div>
</details>