<details class="app-c-filter-section">
    <summary class="app-c-filter-section__summary">
        <h2 class="app-c-filter-section__summary-heading app-filtering-heading-light">
            <span class="govuk-visually-hidden">Filter by</span>
            Online interviews
            <span class="app-c-filter-section__count" hidden></span>
        </h2>
    </summary>
<div class="app-c-filter-section__content">
    <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Online interviews</legend>
        <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            <input type="checkbox" name="filter-online-interviews" id="filter-interview" class="govuk-checkboxes__input">
            <label for="filter-interview" class="govuk-label govuk-checkboxes__label app-filter-label">Only show courses that offer online interviews</label>
        </div>
        </div>
    </fieldset>
    </div>
</div>
</details>
