<details class="app-c-filter-section">
<summary class="app-c-filter-section__summary">
    <h2 class="app-c-filter-section__summary-heading app-filtering-heading-light">
        <span class="govuk-visually-hidden">Filter by</span>
        Qualification awarded
    </h2>
</summary>
<div class="app-c-filter-section__content">
    <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Qualification awarded</legend>
        <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            <input type="checkbox" name="filter-qualification-awarded" id="filter-qualification" class="govuk-checkboxes__input">
            <label for="filter-qualification" class="govuk-label govuk-checkboxes__label app-filter-label">QTS only</label>
        </div>
        <div class="govuk-checkboxes__item">
            <input type="checkbox" name="filter-qualification-awarded" id="filter-qualification-2" class="govuk-checkboxes__input">
            <label for="filter-qualification-2" class="govuk-label govuk-checkboxes__label app-filter-label">QTS with PGCE or PGDE</label>
        </div>
        </div>
    </fieldset>
    </div>
</div>
</details>