<details class="app-c-filter-section">
    <summary class="app-c-filter-section__summary">
        <h2 class="app-c-filter-section__summary-heading app-filtering-heading-light">
            <span class="govuk-visually-hidden">Filter by</span>
            Location search radius
        </h2>
        <br>
        <span class="app-c-filter-section__count govuk-hint" hidden></span>
    </summary>
<div class="app-c-filter-section__content">
    <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Location search radius</legend>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius" name="search-radius" type="radio" value="year" checked>
            <label class="govuk-label govuk-radios__label app-filter-label" for="radius">
            10 miles
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-2" name="search-radius" type="radio" value="year">
            <label class="govuk-label govuk-radios__label app-filter-label" for="radius-2">
            20 miles
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-3" name="search-radius" type="radio" value="year">
            <label class="govuk-label govuk-radios__label app-filter-label" for="radius-3">
            50 miles
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-4" name="search-radius" type="radio" value="year">
            <label class="govuk-label govuk-radios__label app-filter-label" for="radius-4">
            100 miles
            </label>
        </div>
        </div>
    </fieldset>
    </div>
</div>
</details>
