<details class="app-c-filter-section">
    <summary class="app-c-filter-section__summary">
        <h2 class="app-c-filter-section__summary-heading app-filtering-heading-light">
            <span class="govuk-visually-hidden">Filter by</span>
            Secondary (ages 11 to 18)
        </h2>
        <br>
        <span class="app-c-filter-section__count govuk-hint" hidden></span>
    </summary>
    <div class="app-c-filter-section__content">
        <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Secondary (ages 11 to 18)</legend>
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary">
                Ancient Greek
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-2" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-2">
                Ancient Hebrew
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-3" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-3">
                Art and design
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-4" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-4">
                Biology
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-5" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-5">
                Business studies
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-6" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-6">
                Chemistry
                </label>
            </div>
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-7" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-7">
                Citizenship
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-8" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-8">
                Classics
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-9" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-9">
                Communication and media studies
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-10" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-10">
                Computing
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-11" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-11">
                Dance
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-12" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-12">
                Design and technology
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-13" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-13">
                Drama
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-14" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-14">
                Economics
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-15" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-15">
                English
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-16" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-16">
                French
                </label>
            </div>
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-17" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-17">
                Geography
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-18" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-18">
                German
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-19" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-19">
                Health and social care
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-20" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-20">
                History
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-21" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-21">
                Italian
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-22" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-22">
                Japanese
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-23" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-23">
                Latin
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-24" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-24">
                Mandarin
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-25" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-25">
                Mathematics
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-26" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-26">
                Modern languages (other)
                </label>
            </div>
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-27" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-27">
                Music
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-28" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-28">
                Philosophy
                </label>
            </div>
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-29" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-29">
                Physical education
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-30" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-30">
                Physical education with an EBacc subject
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-31" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-31">
                Physics
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-32" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-32">
                Psychology
            </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-33" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-33">
                Religious education
                </label>
            </div>
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-34" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-34">
                Russian
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-35" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-35">
                Science
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-36" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-36">
                Social sciences
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="secondary-37" name="secondary-subjects" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-37">
                Spanish
                </label>
            </div>
        </div>
    </fieldset>
</div>
</details>
