<details class="app-c-filter-section">
    <summary class="app-c-filter-section__summary">
        <h2 class="app-c-filter-section__summary-heading app-filtering-heading-light">
            <span class="govuk-visually-hidden">Filter by</span>
            SEND
            <span class="app-c-filter-section__count" hidden></span>
        </h2>
    </summary>
    <div class="app-c-filter-section__content">
        <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">SEND</legend>
            <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="send" name="send" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label app-filter-label" for="send">
                Special educational needs and disabilities
                </label>
            </div>
            </div>
        </fieldset>
        </div>
    </div>
</details>
