<details class="app-c-filter-section">
<summary class="app-c-filter-section__summary">
    <h2 class="app-c-filter-section__summary-heading">
        <span class="govuk-visually-hidden">Filter by</span>
    Sort by
    </h2>
</summary>
<div class="app-c-filter-section__content">
    <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Sort by</legend>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sort" name="sort-by" type="radio" value="month">
            <label class="govuk-label govuk-radios__label app-filter-label" for="sort">
            Distance
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sort-2" name="sort-by" type="radio" value="year">
            <label class="govuk-label govuk-radios__label app-filter-label" for="sort-2">
            Newest course
            </label>
        </div>
    </fieldset>
    </div>
</div>
</details>