<details class="app-c-filter-section">
    <summary class="app-c-filter-section__summary">
        <h2 class="app-c-filter-section__summary-heading app-filtering-heading-light">
            <span class="govuk-visually-hidden">Filter by</span>
            Training provider
        </h2>
        <span class="app-c-filter-section__count govuk-hint" hidden></span>
    </summary>
    <div class="app-c-filter-section__content">
        <div class="govuk-form-group">
            <label class="govuk-label app-filter-label" for="training-provider">
                Provider name
            </label>
            <input class="govuk-input" id="training-provider" name="training-provider" type="text">
        </div>
    </div>
</details>
