<details class="app-c-filter-section">
    <summary class="app-c-filter-section__summary">
        <h2 class="app-c-filter-section__summary-heading app-filtering-heading-light">
            <span class="govuk-visually-hidden">Filter by</span>
            Visa sponsorship
        </h2>
        <br>
        <span class="app-c-filter-section__count govuk-hint" hidden></span>
    </summary>
    <div class="app-c-filter-section__content">
        <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Visa sponsorship</legend>
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="visa-1" name="visa" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label app-filter-label" for="visa-1">
                    Only show courses that offer visa sponsorship
                    </label>
                </div>
            </div>
        </fieldset>
        </div>
    </div>
</details>
