{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="app-c-filter-panel__header">
      <button id="filter-button-fceecc4f" class="app-c-filter-panel__button govuk-link" aria-expanded="false" aria-controls="filter-panel-fceecc4f" data-ga4-expandable="" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;finder&quot;,&quot;section&quot;:&quot;Filter and sort&quot;,&quot;text&quot;:&quot;Filter and sort&quot;,&quot;index_section&quot;:0,&quot;index_section_count&quot;:4}">
          <span class="app-c-filter-panel__button-inner">Filter and sort</span>
      </button>
      <p class="govuk-hint app-results-indicator">100 results</p>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" style="margin-bottom:20px;">

<div class="app-c-filter-panel__content app-filter-panel-background" id="filter-panel-cae81ba6" role="region" aria-labelledby="filter-button-cae81ba6">

<div>
  <h2 class="govuk-body app-filter-heading">Search for courses</h2>

  <!-- SEARCH -->

    <div class="govuk-form-group">
      <label class="govuk-label app-filter-label" for="event-name">
        <strong>City, town or postcode</strong>
      </label>
      <input class="govuk-input" id="event-name" name="eventName" type="text">
    </div>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" style="font-size:19px;">
          Search by training provider
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-form-group">
          <label class="govuk-label app-filter-label" for="event-name">
            <strong>Provider name</strong>
          </label>
          <input class="govuk-input" id="event-name" name="eventName" type="text">
        </div>
      </div>
    </details>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Search
    </button>
  <!-- end SEARCH -->

</div>

<div class="app-white-line"></div>

<h2 class="govuk-body app-filter-heading app-filter-heading--last" style="padding-top:20px;">Filter and sort</h2>

<!-- FILTER - Sort by -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Sort by
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Sort by</legend>
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sort" name="sort-by" type="radio" value="month">
              <label class="govuk-label govuk-radios__label app-filter-label" for="sort">
                Course name (A-Z)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sort-2" name="sort-by" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="sort-2">
                Course name (Z-A)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sort-3" name="sort-by" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="sort-3">
                Training provider (A-Z)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sort-4" name="sort-by" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="sort-4">
                Training provider (Z-A)
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END filter list -->
  </details>
<!-- END FILTER - Sort by -->

<!-- FILTER - Search radius -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Location search radius
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Location search radius</legend>
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radius" name="search-radius" type="radio" value="month">
              <label class="govuk-label govuk-radios__label app-filter-label" for="radius">
                1 mile
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radius-2" name="search-radius" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="radius-2">
                2 miles
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radius-3" name="search-radius" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="radius-3">
                5 miles
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radius-4" name="search-radius" type="radio" value="year" checked>
              <label class="govuk-label govuk-radios__label app-filter-label" for="radius-4">
                10 miles
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radius-5" name="search-radius" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="radius-5">
                15 miles
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radius-6" name="search-radius" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="radius-6">
                20 miles
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radius-7" name="search-radius" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="radius-7">
                25 miles
              </label>
            </div>
                        <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radius-8" name="search-radius" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="radius-8">
                50 miles
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radius-9" name="search-radius" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="radius-9">
                100 miles
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radius-10" name="search-radius" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="radius-10">
                200 miles
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END filter list -->
  </details>
<!-- END FILTER - Search radius -->

<!-- FILTER - Visa sponsorship -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Visa sponsorship
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Visa sponsorship</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-visa-sponsorship" id="filter-visa" class="govuk-checkboxes__input">
              <label for="filter-visa" class="govuk-label govuk-checkboxes__label app-filter-label">Only show courses that offer visa sponsorship</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END filter list -->
  </details>
<!-- END FILTER - Visa sponsorship -->

<!-- FILTER - Primary -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Primary (ages 3 to 11)
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Primary (ages 3 to 11)</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="primary" name="primary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="primary">
                Primary
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="primary-2" name="primary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="primary-2">
                Primary with English
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="primary-3" name="primary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="primary-3">
                Primary with geography and history
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="primary-4" name="primary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="primary-4">
                Primary with mathematics
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="primary-5" name="primary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="primary-5">
                Primary with modern languages
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="primary-6" name="primary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="primary-6">
                Primary with physical education
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="primary-7" name="primary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="primary-7">
                Primary with science
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END filter list -->
  </details>
<!-- END FILTER - Primary -->

<!-- FILTER - Secondary -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Secondary (ages 11 to 18)
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">

      <p class="app-filter-sub-category">Science, technology, engineering and mathematics (STEM)</p>
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Secondary (ages 11 to 18)</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-4" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-4">
                Biology
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-6" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-6">
                Chemistry
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-10" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-10">
                Computing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-12" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-12">
                Design and technology
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-25" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-25">
                Mathematics
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-31" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-31">
                Physics
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-35" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-35">
                Science
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <p class="app-filter-sub-category">Languages and literature</p>
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Secondary (ages 11 to 18)</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary">
                Ancient Greek
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-2" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-2">
                Ancient Hebrew
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-15" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-15">
                English
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-16" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-16">
                French
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-18" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-18">
                German
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-21" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-21">
                Italian
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-22" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-22">
                Japanese
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-23" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-23">
                Latin
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-24" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-24">
                Mandarin
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-26" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-26">
                Modern languages (other)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-34" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-34">
                Russian
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-37" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-37">
                Spanish
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <p class="app-filter-sub-category">Art, humanities and social sciences</p>
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Secondary (ages 11 to 18)</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-3" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-3">
                Art and design
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-5" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-5">
                Business studies
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-7" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-7">
                Citizenship
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-8" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-8">
                Classes
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-9" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-9">
                Communication and media studies
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-11" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-11">
                Dance
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-13" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-13">
                Drama
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-14" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-14">
                Economics
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-17" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-17">
                Geography
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-20" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-20">
                History
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-27" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-27">
                Music
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-28 name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-28">
                Philosophy
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-32" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-32">
                Psychology
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-33" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-33">
                Religious education
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-36" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-36">
                Social sciences
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <p class="app-filter-sub-category">Health and physical education</p>
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Secondary (ages 11 to 18)</legend>
          <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-19" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-19">
                Health and social care
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-29" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-29">
                Physical education
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="secondary-30" name="secondary-subjects" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label app-filter-label" for="secondary-30">
                Physical education with an EBacc subject
              </label>
            </div>
          </div>
        </fieldset>
      </div>

    <!-- END filter list -->
  </details>
<!-- END FILTER - Secondary -->

<!-- FILTER - Study type -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Study type
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Study type</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-study-type" id="filter-study" class="govuk-checkboxes__input">
              <label for="filter-study" class="govuk-label govuk-checkboxes__label app-filter-label">Full time (12 months)</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-study-type" id="filter-study-2" class="govuk-checkboxes__input">
              <label for="filter-study-2" class="govuk-label govuk-checkboxes__label app-filter-label">Part time (18 to 24 months)</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END filter list -->
  </details>
<!-- END FILTER - Study type -->

<!-- FILTER - Qualification awarded -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Qualification awarded
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Qualification awarded</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-qualification-awarded" id="filter-qualification" class="govuk-checkboxes__input">
              <label for="filter-qualification" class="govuk-label govuk-checkboxes__label app-filter-label">QTS only</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-qualification-awarded" id="filter-qualification-2" class="govuk-checkboxes__input">
              <label for="filter-qualification-2" class="govuk-label govuk-checkboxes__label app-filter-label">QTS with PGCE or PGDE</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END filter list -->
  </details>
<!-- END FILTER - Qualification awarded -->

<!-- FILTER - Degree grade -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Degree grade
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Degree grade</legend>
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="degree-grade" name="degree-grade" type="radio" value="month">
              <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade">
                2:1 or First
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="degree-grade-2" name="degree-grade" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade-2">
                2:2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="degree-grade-3" name="degree-grade" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade-3">
                Third
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="degree-grade-4" name="degree-grade" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade-4">
                Pass
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="degree-grade-5" name="degree-grade" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade-5">
                No degree
              </label>
            </div>
            <div class="govuk-radios__divider app-filter-label">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="degree-grade-6" name="degree-grade" type="radio" value="year">
              <label class="govuk-label govuk-radios__label app-filter-label" for="degree-grade-6">
                Show all courses
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END filter list -->
  </details>
<!-- END FILTER - Degree grade -->

<!-- FILTER - SEND -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Special educational needs
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Special educational needs</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-send-specialism" id="filter-send" class="govuk-checkboxes__input">
              <label for="filter-send-" class="govuk-label govuk-checkboxes__label app-filter-label">Only show courses with a SEND specialism</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END filter list -->
  </details>
<!-- END FILTER - SEND -->

<!-- FILTER - Fee or salary -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Fee or salary
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Fee or salary</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-fee-or-salary" id="filter-fee" class="govuk-checkboxes__input">
              <label for="filter-fee" class="govuk-label govuk-checkboxes__label app-filter-label">Fee - No salary</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-fee-or-salary" id="filter-fee-2" class="govuk-checkboxes__input">
              <label for="filter-fee-2" class="govuk-label govuk-checkboxes__label app-filter-label">Salary</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-fee-or-salary" id="filter-fee-3" class="govuk-checkboxes__input">
              <label for="filter-fee-3" class="govuk-label govuk-checkboxes__label app-filter-label">Teaching apprenticeship with salary</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END filter list -->
  </details>
<!-- END FILTER - Fee or salary -->

<!-- FILTER - Start date -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Start date
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Start date</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-start-date" id="filter-start" class="govuk-checkboxes__input">
              <label for="filter-start" class="govuk-label govuk-checkboxes__label app-filter-label">September 2025</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-start-date" id="filter-start-2" class="govuk-checkboxes__input">
              <label for="filter-start-2" class="govuk-label govuk-checkboxes__label app-filter-label">All other dates</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END filter list -->
  </details>
<!-- END FILTER - Start date -->

<!-- FILTER - Further education -->
  <details class="app-c-filter-section">
    <!-- Filter categories heading -->
    <summary class="app-c-filter-section__summary">
      <h2 class="app-c-filter-section__summary-heading">
          <span class="govuk-visually-hidden">Filter by</span>
        Further education<br>(ages 16 and over)
      </h2>
    </summary>
    <!-- Filter list -->
    <div class="app-c-filter-section__content">
      <div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Further education (ages 16 and over)</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" name="filter-further-education" id="filter-further" class="govuk-checkboxes__input">
              <label for="filter-further" class="govuk-label govuk-checkboxes__label app-filter-label">Further education courses</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END filter list -->
  </details>
<!-- END FILTER - Further education -->

  <div class="app-c-filter-panel__actions" style="padding-top:20px;">
    <input type="submit" value="Apply filters" class="govuk-button app-c-filter-panel__action app-c-filter-panel__action--submit" style="margin-bottom:20px;">
  </div>

  </div>
</div>

  <div class="govuk-grid-column-two-thirds">


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title app-filter-label">
      Course 1
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action app-filter-label">
        <a class="govuk-link" href="#">Save course<span class="govuk-visually-hidden"> for later</span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list app-filter-label">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nearest placement school
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Funding type
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course length
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age group
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification awarded
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Degree required
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Visa sponsorship
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
    </dl>
  </div>
</div>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title app-filter-label">
      Course 2
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action app-filter-label">
        <a class="govuk-link" href="#">Save course<span class="govuk-visually-hidden"> for later</span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list app-filter-label">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nearest placement school
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Funding type
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course length
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age group
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification awarded
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Degree required
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Visa sponsorship
        </dt>
        <dd class="govuk-summary-list__value">
          Blank
        </dd>
      </div>
    </dl>
  </div>
</div>


  </div>
</div>

{% endblock %}

