{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="/plugin-assets/@x-govuk/govuk-prototype-components/all.css">
  <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script src="/plugin-assets/@x-govuk/govuk-prototype-components/all.js"></script>
  <script src="{{ assetPath }}/javascripts/application.js"></script>
{% endblock %}

{% block header %}

    {{ govukHeader() }}
    {{ govukServiceNavigation({
        serviceName: serviceName
    })}}

{% endblock %}
